ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  width: 800px;
}

li {
  width: 25%;
  border-left: 1px solid #5b8f8f;
}

li:last-child {
  border-right: 1px solid #5b8f8f;
}

li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  line-height: 1.6;
  padding: 10px 0;
}

li a span {
  color: #5b8f8f;
  font-size: 13px;
}
